<div class="lr-welcome">
  <h1>
    You made it! Congratulations ;-)
  </h1>
  <h3>This repo is dedicated to helping developers overcome obstacles as they are learning Angular 2</h3>
  <h4>If there is something blocking you, just send me a request and I will do my best to integrate an
    example of how to do it within the context of this repo</h4>
  <ul><strong>As of now this template demonstrates the following</strong>
    <li>Integrating Bootstrap and Font-Awesome into the CLI build</li>
    <li>Setting up routes and nested routes</li>
    <li>Using Bootstrap Navigation</li>
    <li>Simple local proxi for your own api's</li>
    <li>Setting up a footer</li>
    <li>Using a model within a component</li>
    <li>Links via routes</li>
    <li>Example of an organized directory structure</li>
  </ul>
</div>
